<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Sistema{% endblock %}</title>
</head>
<body>

    <nav>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('professor.dashboard') }}">Minha integração</a>
            
            {% if current_user.role.value == 'admin' %} <a href="{{ url_for('admin.home') }}">Admin</a>
            {% endif %}

            <a href="{{ url_for('auth.logout') }}">Logout (Sair)</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Entrar</a>
        {% endif %}
    </nav>

    <hr>

    {% block content %}{% endblock %}

</body>
</html>